<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the number</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to the Great Number Game</h1>
        <p>I am thinking of a number between 0 and 100</p>
        <form action="/show" method="POST">
            {% csrf_token %}
            <div class="correct">
                <h1>Correct</h1>
                <p>Would you like to play again?</p>
                <button>play</button>
            </div>
            <div class="high">
                <h1>Too High</h1>
                <p>Guess a lower number</p>
            </div>
            <div class="low">
                <h1>Too Low</h1>
                <p>Guess a higher number</p>
            </div>
            <input type="text" name="guess" class="number" placeholder="Guess a number!">
            <br>
            <input class="submit" type="submit" name="submit">
        </form>
    </div>
</body>

</html>